.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    padding: 1em;
}
.hero{
    padding: 2em;
    background: black;
    color: white;
    text-align: left;
    margin-top: 51px;
    font-size: 40px;
}